services:
  build-images:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./opt:/opt
      - ./images:/images
      - ./.ccache:/root/.cache/ccache
      - ./.buildroot-ccache:/root/.buildroot-ccache
    command: "${SS_ARGS:---no-op}"
